<h2>商品一覧</h2>

<table>
  <tr>
    <th>商品ID</th>
    <th>商品名</th>
    <th>税抜価格</th>
    <th>ジャンル</th>
    <th>ステータス</th>
  </tr>
  <tr>
  <% @items.each do |item| %>
    <td><%= item.id %></td>
    <td><%= item.name %></td>
    <td><%= item.price %></td>
    <td></td>
    <td></td>
  <% end %>
  </tr>
</table>

