<div class="container">
  <div class="about">
    <div class="about-title text-center">
      <h1 class="font-weight-bold m-5">About</h1>
    </div>

    <p class="about-comment text-center">
      ながのCAKEは全国発送可能なケーキ屋さんです。<br />
      お子様からお年寄りの方までお召し上がりいただけるよう、<br />
      様々なバリエーションをご用意しております。<br />
      また、全国へ発送可能ですので、「いつ」でも「どこ」でもご注文いただけます。<br />
      ぜひご注文ください。
    </p>

    <div class="about-visual text-center">
      <%= image_tag 'top-page.jpg', size: '600x400', class: 'rounded mt-3 mb-5' %>
    </div>
  </div>
</div>
