<h2>ジャンル一覧・追加</h2>
<%= form_with model: [:admin, @genre], local:true do |f| %>
  <h4>ジャンル名　<%= f.text_field :name %></h4>
  <%= f.submit '新規登録' %>
<% end %>

<table>
  <tr>
    <th colspan="3">ジャンル</th>
  </tr>
  <tr>
  <% @genres.each do |genre| %>
    <th colspan="2"><%= genre.name %></th>
  <% end %>
    <td>編集する</td>
  </tr>
</table>

